.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-color: orangered;
  border: 5px solid white;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 100px;
  background-color: rgb(248, 240, 168);
  border: 3px solid black;
}

.box2 {
  width: 10px;
  height: 10px;
  background-color: green;
  border: 3px solid white;
}

.box3 {
  width: 50px;
  height: 10px;
  background-color: green;
  border: 3px dotted white;
}
